* {
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    background-color: #EEEEEE;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fa {

}
header {
    width: 100%;
    height: 70px;
    margin: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}

#header-img {
max-width: 300px;
align-items: center;
}
#nav-bar {
text-align: center;

}
#nav-bar ul {
    margin: 20px 60px 20px  10px ;

}
#nav-bar ul li {
    display: inline;
    text-align: center;

    padding: 10px;
}
#nav-bar ul li a {
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;

}
header #navbar {

}
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section h2 {
    font-size: 1.3rem;
    text-align: center;
    margin: 10px 0px;
}
form#form {
  
}
.first-block {
    margin-bottom: 40px;
}
form#form input {
    padding: 5px;
    margin: 10px;
    width: 250px;
    background-color: white;
}
button#submit {
    /* width: 120px; */
    font-size: 1em;
   
    text-align: center;
    width: 155px;
    background-color: #f1c40f ;
    font-weight: 900;
    border-radius: 4px;
    cursor: pointer;

}
button#submit:hover {
    background-color: orange;
}



.video-container {
    margin: 20px;
    overflow: hidden;
    position: relative;
    width:550px;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
section#article {
max-width: 1000px;
width: 100%;
margin: 0 auto;
}
.grid {
     display: flex;
     justify-content: center;
     text-align: center;
     align-items: center;
     width: 1000px;
}
#icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 20vw;
    color: darkorange;


}
.grid #text {
    display: flex;
    flex-direction: column;
    height: 125px; 
    width: 40vw;
overflow-wrap: break-word;
box-sizing: border-box;
    }
    
.grid #text h2 {
   text-align: left;
    padding: 0;
    margin: 0;

     }
     .grid #text p {
    text-align: left;
    margin: 0;
    padding: 0;
overflow-wrap: break-word;
overflow-y: hidden;


     }
     .center {
        margin: auto 0;
     }
     .center #description {
         font-size: 0.8em;
     }


#article article {
    display: flex;
    align-items: center;
    text-align: center;
} 
#product-card {

    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 55px auto;

}
h2.title {
    background-color: #ddd;
}
#product-card #card {
    margin: 0px 30px;
    text-align: center;
    height: auto;
    width: calc(100% / 3);
    width: 100%;
    
}
#card-title {
    text-align: center;
    background-color: #ddd;
    height: 6vh;
    border: 1px solid black;

}
#card-body {
    height: 251px;
    border: 1px solid black;
    width: 20vw;

    
}
#description {
display: flex;
flex-direction: column;
align-items: center;
padding: 20px;
width: 100%;
}

.list-style-none{
    list-style: none;
}

#btn {
    background-color: #f1c40f;
    text-transform: uppercase;
    padding: 10px 30px;
    cursor: pointer;
}
#btn:hover {
 background-color: orangered;
transition-delay: 200ms;
}

footer {

    display: flex;
    flex-direction: column;
    background-color: #DDDDDD;

    width: 48%;

    margin: auto;
}

#priv ul  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#priv ul li {
    margin-top: 20px;
    display: inline; 
    padding: 0px 10px;
}
.copyright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.9em;

}

@media screen and (max-width:90px) {
    #product-card {
       display: flex;
       flex-direction: column;
      }
      #card {
        /* margin: 60px; */
        min-width: 300px;
       }
       #card-title {
        text-align: center;
        background-color: #ddd;
        height: 6vh;
        border: 1px solid black;
    
}
#description {
    width:6vh;
}
}
